[data-toggle="collapse"].collapsed:after {
    transform: rotate(360deg);
    float: right;
    margin-top: 0.5em !important;
}
[data-toggle="collapse"]:after {
    transform: rotate(180deg);
    float: right;
    margin-top: 0.5em !important;
}
.sidebar {
    background-color: blue !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 64px;
    top: 64px;
   /* Height of navbar */
    height: calc(100vh - 125px);
    overflow-y: auto;
}
.sidebar-sticky ul li.active > a {
    border-left: 5px solid gray;
    background: blue-light !important;
    font-weight: bold !important;
}
.sidebar-sticky ul li.active a:hover {
    color: white !important;
    text-decoration: none;
    background: transparent;
}
.sidebar-sticky ul li.active a:hover svg {
    color: white !important;
}
.sidebar-sticky ul li a {
    text-align: left;
    color: white !important;
    font-weight: 450 !important;
    padding: 1.1em;
    font-size: 0.9em;
    display: block;
}
.sidebar-sticky ul li a:hover {
    text-decoration: none;
}
.sidebar-sticky ul li a i, .sidebar-sticky ul li a img {
    width: 20px;
    margin-right: 10px;
    text-align: center;
}
.sidebar-sticky ul li ul li a {
    padding-left: 4.5em !important;
}
.sidebar-sticky.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}
.sidebar-sticky.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}
.sidebar-sticky.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
.sidebar-sticky.active ul li ul li a {
    padding: 10px !important;
}
.sidebar .footer-dashboard {
    padding: 0.5em;
    border-top: 1px solid gray;
    color: white;
}
.sidebar .footer-dashboard small {
    font-size: 10px;
}
.collapse a:hover, .collapsed a:hover {
    background: blue-light !important;
}
li.nav-item a:hover {
    background: blue-light !important;
}
