<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" >Products</h2>
        <button class="btn btn-success text-right my-2"  (click)="addProduct()"> Add Product</button>
        <table class="table table-striped">
          <thead>
          <tr>

            <th>Name</th>
            <th>No of association</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">

            <td>{{product.label}}</td>
            <td>{{products.length}}</td>
            <td><button class="btn btn-danger" (click)="deleteProduct(product)"> Delete</button></td>
              <td>  <button class="btn btn-success" (click)="updateProduct(product)" style="margin-left: 20px;"> Edit</button></td>
          </tr>
          </tbody>
        </table>

        <ul>
          <div *ngFor="let product of products; let i = index">
            <div *ngIf="product.parent_id == 1">
              <input type="checkbox" *ngIf="product.product_id == 2" data-toggle='collapse'
              data-toggle='collapse' attr.href="{{'#collapsediv' + product.product_id}}">
              <label> {{ product.label}}</label>
              <div *ngFor="let cat of products">
                <div *ngIf="product.product_id == cat.label_id" attr.id="{{'collapsediv' + cat.label_id}}"
                  class='collapse div1 ml-4'>
                  <input type="checkbox" data-toggle='collapse' attr.href="{{'#collapsediv' + cat.product_id}}"><label> {{
                    cat.label}}</label>
                  <div attr.id="{{'collapsediv' + cat.product_id}}" class='collapse div1 ml-4'>
                    <div *ngFor="let brand of products; let k = index">
                      <div *ngIf="brand.label_id == cat.product_id">
                        <input type="checkbox" data-toggle='collapse' attr.href="{{'#collapsediv' + brand.label_id}}">
                        <label> {{brand.label}}</label>
                        <div attr.id="{{'collapsediv' + cat.product_id}}" class='collapse div1 ml-4'>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </ul>
  </div>
</div>
</div>
